<a href="https://colab.research.google.com/github/ejreyesCPE/CPE009A/blob/main/Hands_on_Activity_1_1_Literals%2C_Operators%2C_and_Variables(REYES).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assigning variables of different data types in Python**

In [ ]:
# 1. In an empty cell, declare a variable value and assign it the value of 5 then display its value using print().
value = 5
print(value)

5

In [ ]:
# 2. Create a new cell and type the command: type(value) then run the cell. The output should be like the image below.
type(value)

int

In [ ]:
# 3. In a new cell, use the same variable value and assign it the value of 5.0 then print the value.
value = 5.0
print(value)

5.0

In [ ]:
# 4. Repeat step 2.
type(value)

float

In [ ]:
# 5. REpeat these steps for the following values:
value = 2+3j
print(value)
print(type(value))
print("\n")

value = 'Hello World'
print(value)
print(type(value))
print("\n")

value = "Hello World"
print(value)
print(type(value))
print("\n")

value = True
print(value)
print(type(value))
print("\n")

value = False
print(value)
print(type(value))
print("\n")

value = [1,2,3,4,5]
print(value)
print(type(value))
print("\n")

value = (1,2,3,4,5)
print(value)
print(type(value))
print("\n")

value = {'name': 'Eli'}
print(value)
print(type(value))
print("\n")

value = None
print(value)
print(type(value))
print("\n")

(2+3j)
<class 'complex'>


Hello World
<class 'str'>


Hello World
<class 'str'>


True
<class 'bool'>


False
<class 'bool'>


[1, 2, 3, 4, 5]
<class 'list'>


(1, 2, 3, 4, 5)
<class 'tuple'>


{'name': 'Eli'}
<class 'dict'>


None
<class 'NoneType'>

In [ ]:
# 6. Re-assign the value variable to be equal to 5.
value = 5

In [ ]:
# 7. Declare a new variable named value2 to be equal to -6
value2 = -6

**Performing Operations with Python**

In [ ]:
# 1. Using value and value2. Type the command: print(value+value2)
print(value+value2)

-1

In [ ]:
# 2. Repeat step 1 for the following values of value and value2.
value = 5.0
value2 = 6
print(value+value2)
print("\n")

value = -5
value2 = 6.1
print(value+value2)
print("\n")

value = "Hello "
value2 = 'world'
print(value+value2)
print("\n")

value = [1,2,3]
value2 = [4,5,6]
print(value+value2)
print("\n")

value = (1,2,3)
value2 = (4,5,6)
print(value+value2)
print("\n")

value = {"name":"Royce"}
value2 = {"age":2}
print(value | value2)
print("\n")

11.0


1.0999999999999996


Hello world


[1, 2, 3, 4, 5, 6]


(1, 2, 3, 4, 5, 6)


{'name': 'Royce', 'age': 2}

In [ ]:
# 3. Using value, value2 = 30, 4.

value = 30
value2 = 4

print(value*value2)
print(value2**2)
print(value2**3)
print(value*value2+value2**2+1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

**Receiving Input Data Using Python**

In [ ]:
input("Message Name")

Message Namehi

'hi'

In [ ]:
name = input("Enter your name: ")

Enter your name: Eli

**Assigning Input Data to a Variable**

In [4]:
# 1. Declare a new variable named name and assign it the value input(“Enter your name”)
name = input("Enter your name: ")

# 2. Create another variable named weight and assign it the value input(“Enter your weight(kg): “)
weight = float(input("Enter your weight(kg): "))
# 3. Create another variable named height and assign it the value input(“Enter your meters(m): “)
height = float(input("Enter your meters(m): "))

# 4. Declare another variable called bmi and assign it the formula.
bmi = weight / (height ** 2)

# 5. Address the errors displayed step#4. You can accomplish this by converting the String input to another data type.

# 6. Print the persons’s name, weight, height, and bmi.
print("\n")
print(f"Name: {name}")
print(f"Weight: {weight}")
print(f"Height: {height}")

Enter your name: John Ray
Enter your weight(kg): 60
Enter your meters(m): 1.6764


Name: John Ray
Weight: 60.0
Height: 1.6764

**Supplementary Activity**

In [6]:
# 1. Write the Python equivalent code of the following C code.

base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (1/2)*base*height
print("The area of the triangle is: ", area)

Enter the base of the triangle: 6
Enter the height of the triangle: 3
The area of the triangle is:  9.0

In [8]:
# 2. Write a program that would convert Celsius to Fahrenheit given the formula: F = (C × 9/5) + 32

Cel = float(input("Enter Celsius: "))
fah = (Cel * 9/5) + 32
print(f"{Cel} Celsius is equal to {fah} Fahrenheit")

Enter Celsius: 37
37.0 Celsius is equal to 98.6 Fahrenheit

In [13]:
# 3. Write a program that can determine the distance between two points given the coordinates using the formula.
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

d = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print("\n")
print("The answer is:", d)

Enter x1: 2
Enter y1: 2
Enter x2: -3
Enter y2: 3


The answer is: 5.0990195135927845